@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


*{
    box-sizing: border-box;
    outline: none;
    font-family: 'Inter', sans-serif;
}

html{
    --color-fondo: #F3F5FC;
    --color-texto: #0A3871;
    --color-botonclaro: #D8DFE8;

    --color-textosm: #82868B;
}
body{
    background-color: var(--color-fondo);
    padding: 0.5em 2em 0;
    
    
    
    
}
/*MAIN */
main{
    width: 100%;
    max-width: 1250px;
    height: 500px;
    
    
    
    display: flex;
    margin-top: 1em;
    margin-bottom: 0.5em;
 

}

/*seccion  1° input */
.central{
    
    
    width: 60%;
    margin: 0 7em;
    
    
   

   
}

#textoEncriptado{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-weight: 500;
    font-size: larger;
}
#textoEncriptado > textarea::placeholder{
    color: var(--color-texto);
    font-weight: 500;

}
/*seccion 2° resultado */

.costado{
    
   width: 35%;
   
   

  
    
}

#aside{
    position: absolute;
    top: 2em;
    font-size: 1em;
    font-weight: 500;
   
    
    
    background-color:white;
    text-align: center;

    margin:0 auto;
    height: 90vh;
    width: 50vh;
    border-radius: 20px;
    
       
}

#diamante{
    margin: 0 auto;
    
}
#resultado{
    background-color: white;
    width: 50vh;
    height: 90vh;
    border-radius: 20px;
    position: absolute;
    top: 2em;
}
#descifrado{
    
    font-size: 1em;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    height: 64vh;
    margin: 1em 1em 2.7em;
    
    
    
    
}
/*textarea*/
textarea{
    border: none;
    outline: none;
    resize: none;
    height: 75%;
    width: 90%;
}
/*botones */
div{
    margin: 0 auto;
    height: 25%;
}
div > p{
    font-weight: 400;
    font-size: small;
    color: var(--color-textosm);
}
button{
    border-radius: 25px;
    font-size: 1em;
    width: 15em;
    height: 3em;
    text-align: center;
    margin: 0 0.5em;
    border: 1px solid var(--color-texto);
    cursor: pointer;
   
    
}
.encrip{
    background-color: var(--color-texto);
    color: var(--color-fondo);
  
}
.desencrip{
    background-color: var(--color-botonclaro);
    color: var(--color-texto);
   

}
#btn-copiar{
    background-color: white;
    color: var(--color-texto);
    margin-left: 1.5em;
}



/*pie de pagina */
footer{
    text-align: center;
   
    
    display: flex;
    margin: 0  3em;
    font-weight: 300;
    font-size: medium
    

}

@media screen and (max-width:768px) {
   
    main{
        flex-wrap: wrap;
        flex-shrink: 2;
    }
    #diamante{
        display: none;
    }
    #aside{
        height: 15vh;
        width: 53%;
        position: absolute;
        top: 70vh;
        box-shadow: 0px 7px 31px 0px rgba(87,74,74,0.74);
        
    }
    .frase-home{
        
        height: 15vh;
        
        
    }
    .costado{
        width: 60%;
        margin: 0 7em;
    }
    button{
        width: 10em;
        height: 2em;
        margin-left: 1em;
    }
    #resultado{
        height: 18vh;
        width: 53%;
        
        position: absolute;
        top: 70vh;
        box-shadow: 0px 7px 31px 0px rgba(87,74,74,0.74);
        padding-bottom: 1em;

    }
    #btn-copiar{
        width: 20em;
        margin-left: 2em;
    }
    
    #descifrado{
        height: 10vh;
       margin: 0.4em 1em 0.7em
    }
}
@media screen and (min-width: 330px) {
    
    .costado{
        width: 90%;
    }
    #aside{
        width: 83%;
        height: 26vh;
        position: absolute;
        top: 75vh;
        right: 9vh;
    }
}
@media screen and (max-width: 320px) {
    footer{
        font-size:0.5em;
       
        margin: 0 auto;
        
    }
    main{
        height: 80vh;
    }
    body{
        padding: 0;
    }
    
    header img{
        width: 15vh;
    }
    .central{
        margin: 0 0.5em;
        width: 90%;
        height: 50%;
    }
    .costado{
        margin: 0 auto;
        width: 90%;
        height: 10%;
    }
    div{
        height: 18vh;
        margin: 0 2em;
        
    }
    textarea{
        height: 50%;
    }
  
    #aside{
        width: 83%;
        height: 25vh;
        position: absolute;
        top: 65vh;
        right: 5vh
    }
    #resultado{
        position: absolute;
        top: 65vh;
        right: 5vh;
        
        width: 83%;
        height: 20vh;
    } 
    
    #btn-copiar{
        width: 15em;
        margin: 2.5em auto;
    }
    div > p{
        font-size: 0.6em;
    }
    #btn-encrip{
        margin-bottom: 1em;
    }
    
}